<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.collie.user.cart">
<!-- 장바구니를 조회하는 일 -->
<select id="selectCartGoods" parameterType="int" resultType="kr.co.collie.user.cart.domain.CartGoodsDomain">
	select c.cart_num, c.item_num, c.member_num, c.item_cnt, i.item_name, i.item_img, i.item_price
	from cart c, item i
	where c.item_num=i.item_num and c.member_num=#{ member_num }
</select>

<!-- 장바구니에 상품을 추가하는 일 -->
<insert id="insertCart" parameterType="kr.co.collie.user.cart.vo.CartVO">
	insert into cart(cart_num, item_num, member_num, item_cnt)
	values(#{ cart_num }, #{ item_num }, #{ member_num }, #{ item_cnt })
</insert>

<update id="updatePlusCnt" parameterType="int">
	update cart
	set item_cnt=(select item_cnt from cart where cart_num=#{cart_num})+1
	where cart_num=#{cart_num}
</update>

<update id="updateMinusCnt" parameterType="int">
	update cart
	set item_cnt=(select item_cnt from cart where cart_num=#{cart_num})-1
	where cart_num=#{cart_num}
</update>

</mapper>