<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.collie.user.mapper">
  <select id="selectLogin" resultType="kr.co.collie.user.member.domain.LoginDomain" parameterType="kr.co.collie.user.member.vo.LoginVO">
    select memberNum,id, name, email, phone, addr, addrDetail, zipCode
    from member
    where id =#{id} and pass=#{pass}
  </select>
  
  <select id="selectMemberId" resultType="String" parameterType="kr.co.collie.user.member.vo.FindIdVO">
  	select id
  	from member
  	where name = # { name} and email = #{ email }
  </select>

  <select id="selectMemberPass" resultType="String" parameterType="kr.co.collie.user.member.vo.FindPassVO">
  	select pass
  	from member
  	where id= #{ id } and name = # { name} and email = #{ email }
  </select>
  
</mapper>