<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.collie.user.mypage">
	
	<!-- 주문 내역 목록을 불러오는 일 : field_name = member_num -->
	<select id="selectOrderList" parameterType="kr.co.collie.user.pagination.RangeVO" resultType="kr.co.collie.user.mypage.domain.OrderListDomain">
		select order_num, total_price, item_name, item_img, input_date
		from(select f.order_num, f.total_price, i.item_name, i.item_img, f.input_date, row_number() over(order by f.order_num desc) rnum
				from order_form f, item i, order_item oi
				where (oi.order_num = f.order_num and oi.item_num = i.item_num)
							and ${ field_name } = #{ field_value })
		where rnum between #{ start_num } and #{ end_num }
	</select>
	
	<!-- 주문 내역 목록 페이지네이션을 위해 개수를 세는 일 -->
	<select id="selectOrderListCnt" resultType="int" parameterType="kr.co.collie.user.pagination.RangeVO">
		select count(*)
		from order_form
		where ${field_name} = #{field_value}
	</select>
	
	<!-- 현재 비밀번호를 확인하는 일 : 세션의 아이디와 사용자가 입력한 비밀번호를 받아 일치하는 회원이 있는지 조회 -->
	<select id="selectMemberPass" parameterType="kr.co.collie.user.mypage.vo.PassCheckVO" resultType="int">
		select member_num
		from member
		where member_num = #{ member_num } and pass = #{ pass }
	</select>
	
	<!-- 비밀번호를 변경하는 일 -->
	<update id="updateMemberPass" parameterType="kr.co.collie.user.mypage.vo.UpdatePassVO">
		update member
		set pass = #{ pass }
		where member_num = #{ member_num }
	</update>
	
	<!-- 정보 가져오기 -->
	<select id="selectMemberInfo" parameterType="kr.co.collie.user.mypage.vo.PassCheckVO" resultType="kr.co.collie.user.mypage.domain.MemberInfoDomain">
		select	id, name, email, phone, addr, addr_detail, zipcode
		from member
		where member_num = #{ member_num } and pass = #{ pass } 
	</select>

	
	      <!-- 개인정보 수정하는 일  -->
       <update id="updateMember" parameterType="kr.co.collie.user.mypage.vo.ModifyMemberVO" >
              update member
              set name= #{ name }, phone = #{ phone } , addr= #{ addr } , zipcode=#{ zipcode }, addr_detail= #{ addr_detail }
              where id= #{ id }
       </update>

    <!-- 개인정보 확인하는 일  -->
       <select id="selectMember" resultType="kr.co.collie.user.mypage.domain.MemberInfoDomain">
       select id, name, email, phone, addr, addr_detail, zipcode
       from member
       </select>
       
       <!-- 회원 탈퇴하는 일  -->
       <update id="removeMember" parameterType="kr.co.collie.user.mypage.vo.DeleteMemberVO">
            update member
            set  member_flag = 'N'
            where  member_num = #{ member_num } and pass = #{ pass }   
       </update>
	
	<select id="selectQnaList" parameterType="int" resultType="kr.co.collie.user.mypage.domain.QnaListDomain">
		select qna_subject,input_date
		from qna
		where member_num =#{member_num}
	</select>
	
	<select id="selectQnaDetail" parameterType="kr.co.collie.user.mypage.vo.QnaVO" resultType="kr.co.collie.user.mypage.domain.QnaDetailDomain">
		select qna_num,qna_subject,qna_content,input_date,qna_flag,reply_content,reply_date;
		from qna
		where member_num=#{member_num} and qna_num=#{qna_num}
	</select>
</mapper>