<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.collie.user.mypage">

	<!-- 현재 비밀번호를 확인하는 일 : 세션의 아이디와 사용자가 입력한 비밀번호를 받아 일치하는 회원이 있는지 조회 -->
	<select id="selectMemberPass" parameterType="kr.co.collie.user.mypage.vo.PassCheckVO" resultType="int">
		select member_num
		from member
		where member_num = #{ member_num } and pass = #{ pass }
	</select>
	
	<!-- 비밀번호를 변경하는 일 -->
	<update id="updateMemberPass" parameterType="kr.co.collie.user.mypage.vo.UpdatePassVO">
		update member
		set pass = #{ pass }
		where member_num = #{ member_num }
	</update>
	
	<!-- 개인정보 수정하는 일  -->
	<update id="updateMember">
		update member
		set name= #{ name }, phone= #{ phone },
		where  
	</update>
	
	<!-- 회원 탈퇴하는 일  -->
	<update id="">
		
	</update>
</mapper>